<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      
      <section name="StockManagement.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
          <section name="StockManagement.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
  </configSections>
  <applicationSettings>
    
    <StockManagement.Properties.Settings>
      <setting name="apiEndPoint" serializeAs="String">
        <value>https://bluemoonlab-pmback.herokuapp.com/api/v1/</value>
      </setting>
      <setting name="stock" serializeAs="String">
        <value>SK</value>
      </setting>
      <setting name="sale" serializeAs="String">
        <value>KD</value>
      </setting>
      <setting name="authorizePath" serializeAs="String">
        <value>auth/</value>
      </setting>
      <setting name="quotationPath" serializeAs="String">
        <value>quotations</value>
      </setting>
      <setting name="inventorysPath" serializeAs="String">
        <value>inventorys</value>
      </setting>
      <setting name="stockinPlanDetailsPath" serializeAs="String">
        <value>stockinplandetails</value>
      </setting>
      <setting name="stockoutPlanDetailsPath" serializeAs="String">
        <value>stockoutplandetails</value>
      </setting>
      <setting name="poPath" serializeAs="String">
        <value>pos</value>
      </setting>
      <setting name="stockinReceiptDetailsPath" serializeAs="String">
        <value>stockinreceiptdetails</value>
      </setting>
      <setting name="stockoutReceiptDetailsPath" serializeAs="String">
        <value>stockoutreceiptdetails</value>
      </setting>
      <setting name="stockinPlansPath" serializeAs="String">
        <value>stockinplans</value>
      </setting>
      <setting name="stockoutPlansPath" serializeAs="String">
        <value>stockoutplans</value>
      </setting>
      <setting name="stockinReceiptsPath" serializeAs="String">
        <value>stockinreceipts</value>
      </setting>
      <setting name="stockoutReceiptsPath" serializeAs="String">
        <value>stockoutreceipts</value>
      </setting>
      <setting name="barcodePath" serializeAs="String">
        <value>Barcodes</value>
      </setting>
    </StockManagement.Properties.Settings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/Black</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value>Times New Roman;10.2</value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value>
          <CustomPaletteCollection>
            <Skin Name="Basic">
              <SvgPalette Name="Custom Palette #1">
                <SvgColor Name="Paint" Value="240,240,240" />
                <SvgColor Name="Paint High" Value="255,255,255" />
                <SvgColor Name="Paint Shadow" Value="Gainsboro" />
                <SvgColor Name="Paint Deep Shadow" Value="210,210,210" />
                <SvgColor Name="Brush" Value="40,40,40" />
                <SvgColor Name="Brush High" Value="40,40,40" />
                <SvgColor Name="Brush Light" Value="120,120,120" />
                <SvgColor Name="Brush Major" Value="160,160,160" />
                <SvgColor Name="Brush Minor" Value="200,200,200" />
                <SvgColor Name="Accent Paint" Value="78,109,156" />
                <SvgColor Name="Accent Paint Dark" Value="62,91,135" />
                <SvgColor Name="Accent Paint Light" Value="206,221,245" />
                <SvgColor Name="Accent Paint Lighter" Value="220,233,252" />
                <SvgColor Name="Accent Brush" Value="255,255,255" />
                <SvgColor Name="Accent Brush Light" Value="165,186,217" />
                <SvgColor Name="Red" Value="208,49,68" />
                <SvgColor Name="Green" Value="56,152,83" />
                <SvgColor Name="Blue" Value="78,138,200" />
                <SvgColor Name="Yellow" Value="241,151,63" />
                <SvgColor Name="Black" Value="108,109,117" />
                <SvgColor Name="Gray" Value="191,191,194" />
                <SvgColor Name="White" Value="255,255,255" />
              </SvgPalette>
            </Skin>
          </CustomPaletteCollection>
        </value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
<userSettings>
        <StockManagement.Properties.Settings>
                <setting name="token" serializeAs="String">
                        <value />
                </setting>
                <setting name="roles" serializeAs="String">
                        <value />
                </setting>
        </StockManagement.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.11.1.0" newVersion="6.11.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.11.1.0" newVersion="6.11.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.JsonWebTokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.11.1.0" newVersion="6.11.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>